@import "./reset";
@import "./variables";

ul {
  display: flex;
  li {
    list-style-type: none;
    line-height: 75px;
    a {
      text-decoration: none;
      color: $textColor;
    }
  }
}

.header {
  background-color: $brgColor;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &__infor {
    a {
      text-decoration: none;
      color: $textColor;
      display: inline-block;
      line-height: 75px;
      margin-right: 10px;
    }

    // ul {
    //   li {
    //     a:hover {
    //       color: #926402;
    //     }
    //   }
    // }
  }

  &__caterogy {
    ul {
      li {
        padding: 0 10px;
        a {
          &:hover {
            color: #926402;
          }
        }
      }
    }
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 75px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  h3 {
    padding-bottom: 10px;
  }

  .icon {
    color: $textColor;
  }
}

.boder-right {
  border-right: 1px solid #000;
  padding-right: 12px;
}
