.content {
  padding-top: 75px;

  &__header {
    h1 {
      font-size: 42px;
    }
  }

  &__detail {
    display: flex;
    padding-top: 80px;

    &__title {
      flex-basis: 50%;
    }

    &__des {
      flex-basis: 50%;
      p {
        padding-bottom: 10px;
      }

      &-1 {
        display: flex;
        padding-bottom: 50px;
      }

      &__time {
        flex-basis: 25%;
      }

      &__position {
        flex-basis: 75%;
        h3 {
          padding-bottom: 10px;
        }
      }
    }
  }
}

.line-top {
  border-top: 1px solid #000;
}

.icon-list {
  font-size: 10px;
  padding-right: 5px;
}

.padding {
  padding-left: 150px;
}
